<style>
    a{font-size: 16px;text-align: center;font-family: verdana;color:#fff;}
</style>

<nav>
    <ul> 
        <li><a href="/">Home</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>