<!DOCTYPE html>
    <head></head>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css">
    <body>

        <%- include('partials/nav'); %>

        <h1>Welcome to my website!</h1>
        <p>This is Phong's Model Agency</p>
    </body>